.container {
  position: relative;
  box-sizing: border-box;
  margin: 5px 2px 5px 2px;
  cursor: pointer;
}

.card {
  position: absolute;
  //border: 1px solid #7d75c7;
  width: 100px;

  height: 30px;
  border-radius: 1px;
  //box-shadow: 3px 3px 2px 2px rgb(151, 162, 184);
  user-select: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;


    .duedate {
      // position: relative;
      // top:30px;
      width: 80px;
      background-color: rgba(154, 205, 50, 0.1);
      padding: 2px 2px;
      border: 1px solid rgba(154, 205, 50, 0.1);
      border-radius: 2px;
    }




  .card-header {
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #857cd3;
    height: 100%;
    background-color: rgba($color: #857cd3, $alpha: 0.2);

    &:hover {
      //box-shadow: 2px 2px 1px 1px rgb(151, 162, 184);
      background-color:  rgba($color: #7e75d3,$alpha: 0.5);;
    }

    &:active {
      //box-shadow: 1px 1px 1px 1px rgb(151, 162, 184);
      background-color:  rgba($color: #7c73d1, $alpha: 0.6);;
    }

    .link-icon {
      font-size: medium;
    }
  }
}

.chip-container {
  display: flex;
  flex-direction: row;

  .chip-color {
    width: 15px;
    height: 5px;
    margin: 1px 1px;
    //background-color: red;
  }
}

.icons {
  display: flex;
}

