.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  .label {
    width: 5%;
    height: 80%;
    padding: 10px;
    margin: 5px 2px 5px 5px;
    text-align: center;
    border-radius: 1px;
    border: 2px solid rgb(224, 216, 201);
    display: flex;
  align-items: center;
  justify-content: center;
  }

  .cards {
    display: flex;
    width: 95%;
    height: 80%;
    padding: 10px;
    margin: 1px;
    border-radius: 1px;
    border: 2px solid rgb(228, 247, 160);
  }


}





