.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-spec {}

.avatar-issue {
  width: 30px;
}


.mat-dialog-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}

.project-name {
  font-size: 0.9rem;
  color: rgb(136, 136, 135);
  padding:0;
  margin-bottom: -10px;
}

.mat-dialog-content {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

.chip-container {
  display: flex;
  flex-direction: row;

  .chip-color {
    width: auto;
    height: auto;
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
    //background-color: red;
  }
}
